<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <description>MySQL Test App</description>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/ConnectionMySQL</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <servlet>
    <servlet-name>CreateServlet</servlet-name>
    <servlet-class>com.shortify.Controlers.CreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateServlet</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>InfoRequestServlet</servlet-name>
    <servlet-class>com.shortify.Controlers.InfoRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoRequestServlet</servlet-name>
    <url-pattern>/urls/request</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UrlManagement</servlet-name>
    <servlet-class>com.shortify.Controlers.UrlManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlManagement</servlet-name>
    <url-pattern>/urls</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogInServlet</servlet-name>
    <servlet-class>com.shortify.Controlers.UserRegister.LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/users/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.shortify.Controlers.UserRegister.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/users/signup</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RedirectionServlet</servlet-name>
    <servlet-class>com.shortify.Controlers.RedirectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectionServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>